@model gRPC.Protos.Product;

@{
    ViewData["Title"] = "Create Product";
}

<form asp-action="Create">
    <br />
    <div class="container border p-3">
        <h1 class="text-primary">Create Product</h1>
        <hr />

        <div asp-validation-summary="All" class="text-danger"></div>

        <div class="row">

            <div class="col-3">
                <label asp-for="ProductName" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-9 pb-3">
                <input asp-for="ProductName" class="form-control" />
                <span asp-validation-for="ProductName" class="text-danger"></span>
            </div>

            <div class="col-3">
                <label asp-for="CategoryId" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-9 pb-3">
                <select asp-for="CategoryId" asp-items="ViewBag.CategoryName" class="form-control"></select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>

            <div class="col-3">
                <label asp-for="Price" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-9 pb-3">
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
                        
            <div class="col-5 offset-2">
                <a asp-action="Index" asp-controller="Product" class="btn-primary btn form-control ">Back to List</a>
            </div>
            <div class="col-5">
                <input type="submit" value="Create" class="btn btn-success form-control" />
            </div>
        </div>
    </div>
</form>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}